<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Displaying flights</h1>


    <table border="1">
      <tr>
        <th>Airlines</th>
        <th>Departure City</th>
        <th>Arrival City</th>
        <th>Departure Time</th>
        <th>Select Flight</th>
      </tr>

      <tr th:each="findFlights : ${findFlights}">
        <td th:text="${findFlights.operatingAirlines}"></td>
        <td th:text="${findFlights.departureCity}"></td>
        <td th:text="${findFlights.arrivalCity}"></td>
        <td th:text="${findFlights.estimatedDepartureTime}"></td>

        <td>
          <a th:href="@{/showCompleteReservation/{id}(id=${findFlights.id})}">Search</a>
        </td>
      </tr>
    </table>

  </body>
</html>
